@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #f1356d;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #e32356;
}

.content {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.blog-preview a{
  text-decoration: none;
}  

.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
}

.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
}

.create {
  max-width: 400px;
  margin: 0 auto;
}

.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}

.create input, .create textarea, .create select {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ddd;
}

.create button {
  background: #f1356d;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
}

.create button:hover {
  background: #e32356;
}

.edit {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.edit h2 {
  font-size: 24px;
  color: #f1356d;
  text-align: center;
  margin-bottom: 20px;
}

.edit label {
  display: block;
  font-size: 16px;
  color: #555;
  margin-bottom: 8px;
}

.edit input[type="text"],
.edit textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.edit textarea {
  resize: vertical; 
  min-height: 100px;
}

.edit input[disabled] {
  background-color: #eee;
  color: #888;
  cursor: not-allowed;
}

.edit button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #f1356d;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edit button:hover {
  background-color: #e32356;
}

.edit form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn {
  padding: 9px 12px;
  font-size: 15px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.btn-delete {
  background-color: #f1356d;
  color: white;
}

.btn-delete:hover {
  background-color: #e32356;
}

.btn-edit {
  background-color: #f1356d;
  color: white;
}

.btn-edit:hover {
  background-color: #e32356;
}

.btn + .btn {
  margin-left: 30px;
}